@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --pink: rgb(255, 0, 128);
    --scarlet: #ff5858;
    --orange: #ff9447;
    --background: #c6d1f0;
    --lt-grey: #e8ebf2;
    --md-grey: #5d5f6d;
    --dk-grey: #363639;
}

* {
    font-family: "Montserrat", sans-serif;
}

body {
    background-image: linear-gradient(to top right, var(--pink) , var(--orange));
}