@import './Global.css';

#menu {
    position: fixed;
    top: 92vh;
    width: 480px;
    bottom: 0;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    border-top: 2px var(--scarlet) solid;
    padding-left: 10px;
    padding-right: 10px;
}

.menu-button {
    font-weight: 700;
    border-radius: 15px;
    border: none;
    height: 60%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    width: 80%;
    
    color: var(--dk-grey);
    background-color: var(--lt-grey);
}

.menu-button:hover {
    border: 3px var(--scarlet) solid;
}

.menu-button-container {
    width: 50%;
}