@import './Global.css';

.profile-base {
    border-radius: 10px;
    width: 500px;
    margin: auto;
    padding: 5px;
    background-color: var(--background);
}

.component {
    background-color: white;
    margin: 10px 0px 10px 0px;
    padding: 5%;
    border-radius: 10px;
}

.component h3 {
    color: var(--md-grey);
    margin-bottom: 10px;
}

#header {
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
}

#header h1 {
    color: var(--dk-grey);
    margin-top: 0px;
}

#name-container {
    width: 74%;
    text-wrap: pretty;
}

#pfp-container {
    width: 25%;
    float: right;
}

#pfp {
    width: 100%;
    float: right;
}

#about-me p {
    margin: 5px;
}

#essentials li {
    padding: 5px;
    
}

.essential {
    border-bottom: 1px var(--lt-grey) solid;
}

#bubbles {
    display: flex;
    flex-wrap: wrap;
}

#bubble {
    border-radius: 30px;
    padding: 5px 10px 5px 10px;
    margin: 5px;
    background-color: var(--lt-grey);
}

#artist-track-rec {
    border-bottom: 1px var(--lt-grey) solid;
}

#no-track-rec {
    display: none
}

.basic-title {
    font-weight: 700;
    color: var(--md-grey);
}

#my-anthem-container {
    display: flex;
}

#my-anthem img {
    width: 100px;
}

#my-anthem-text {
    margin-top: 0px;
    margin-left: 15px;
}

#my-anthem-text h3 {
    color: var(--dk-grey);
}

#my-anthem-text p {
    margin-top: 0px;
}