@import './Global.css';

#submit-base #title-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 15px;
}

#submit-base img {
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
}

.submit-component {
    margin: 2% 20% 2% 20%;
    width: 60%;
    font-size: 2vh;
    border-radius: 15px;
    height: 50px;
}

input {
    border: 2px var(--lt-grey) solid;
    white-space: normal;
}

input::placeholder {
    white-space: normal;
    padding: 10px;
}

button {
    font-weight: 700;
    color: white;
    background-color: var(--orange);
    border: none;
}

button:hover {
    background-color: var(--scarlet);
}

#submit-base {
    height: 100vh;
    background-color: white;
}


h1 {
    color: var(--dk-grey);
    
}